<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scd.mapper.TaskParamPOMapper">
  <resultMap id="BaseResultMap" type="scd.model.TaskParamPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param_type" jdbcType="VARCHAR" property="paramType" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, param_type, param_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="scd.model.TaskParamPO">
    insert into t_task_param (id, param_type, param_value
      )
    values (#{id,jdbcType=INTEGER}, #{paramType,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="scd.model.TaskParamPO">
    insert into t_task_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paramType != null">
        param_type,
      </if>
      <if test="paramValue != null">
        param_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="scd.model.TaskParamPO">
    update t_task_param
    <set>
      <if test="paramType != null">
        param_type = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="scd.model.TaskParamPO">
    update t_task_param
    set param_type = #{paramType,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>